/* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DAE2DF;
    color: #1C6C2C;
}

/* Estilos do cabeçalho */
header {
    background-color: #FCD42C;
    padding: 10px;
    text-align: center;
    color: #1C6C2C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #F4DC34;
    border-radius: 8px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 5px;
}

form input[type="submit"],
form input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1C6C2C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #5C9474;
}
/* Estilos do rodapé */
footer {
    background-color: #FCD42C;
    color: #1C6C2C;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer span {
    font-weight: bold;
}

/* Estilos para links */
a {
    color: #5C9474;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
