/* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DAE2DF;
    color: #1C6C2C;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #F4DC34;
    border-radius: 8px;
}

video {
    width: 100%;
    height: auto;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid #1C6C2C;
}

/* Estilos para links */
a {
    color: #5C9474;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
