/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #F4DC34;
    border-radius: 8px;
}

.image-section {
    text-align: center;
}

.image-section img {
    width: 100%;
}

.content-section {
    text-align: justify;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}