/* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #DAE2DF;
    color: #1C6C2C;
}

/* Estilos do cabeçalho */
header {
    background-color: #FCD42C;
    padding: 10px;
    text-align: center;
    color: #1C6C2C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #F4DC34;
    border-radius: 8px;
}

.image-section {
    text-align: center;
}

.image-section img {
    width: 650px;
}

.content-section {
    text-align: justify;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #FCD42C;
    color: #1C6C2C;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer span {
    font-weight: bold;
}

/* Estilos para links */
a {
    color: #5C9474;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
